.form {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width:100%;
}

.form__label {
  margin-bottom: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  border-radius: 4px;
  height: 60px;
  width:100%;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border: 1px solid #838383;
  padding: 19px 20px;
  box-sizing: border-box;
}

.form__button {
  border-radius: 4px;
  transition: opacity 3s ease 0s;
  height: 60px;
  width:100%;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #ffffff;
  cursor: pointer;
  border:none;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.form__label_checkbox {
  margin-top: 32px;
  margin-bottom: 120px;
  display: flex;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  justify-content:center;

}